Integracje/Integracje.UI/Web References/SrvBook/BookService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://integracjeks.somee.com/BookService.asmx" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://integracjeks.somee.com/BookService.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://integracjeks.somee.com/BookService.asmx">
      <s:element name="GetResultFromProcedure">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="procedure" type="tns:Procedure" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Procedure">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Parameter" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ParameterName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HasParameter" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetResultFromProcedureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetResultFromProcedureResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetResultFromProcedureSoapIn">
    <wsdl:part name="parameters" element="tns:GetResultFromProcedure" />
  </wsdl:message>
  <wsdl:message name="GetResultFromProcedureSoapOut">
    <wsdl:part name="parameters" element="tns:GetResultFromProcedureResponse" />
  </wsdl:message>
  <wsdl:portType name="BookServiceSoap">
    <wsdl:operation name="GetResultFromProcedure">
      <wsdl:input message="tns:GetResultFromProcedureSoapIn" />
      <wsdl:output message="tns:GetResultFromProcedureSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BookServiceHttpGet" />
  <wsdl:portType name="BookServiceHttpPost" />
  <wsdl:binding name="BookServiceSoap" type="tns:BookServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetResultFromProcedure">
      <soap:operation soapAction="http://integracjeks.somee.com/BookService.asmx/GetResultFromProcedure" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BookServiceSoap12" type="tns:BookServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetResultFromProcedure">
      <soap12:operation soapAction="http://integracjeks.somee.com/BookService.asmx/GetResultFromProcedure" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BookServiceHttpGet" type="tns:BookServiceHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="BookServiceHttpPost" type="tns:BookServiceHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="BookService">
    <wsdl:port name="BookServiceSoap" binding="tns:BookServiceSoap">
      <soap:address location="http://integracjeks.somee.com/BookService.asmx" />
    </wsdl:port>
    <wsdl:port name="BookServiceSoap12" binding="tns:BookServiceSoap12">
      <soap12:address location="http://integracjeks.somee.com/BookService.asmx" />
    </wsdl:port>
    <wsdl:port name="BookServiceHttpGet" binding="tns:BookServiceHttpGet">
      <http:address location="http://integracjeks.somee.com/BookService.asmx" />
    </wsdl:port>
    <wsdl:port name="BookServiceHttpPost" binding="tns:BookServiceHttpPost">
      <http:address location="http://integracjeks.somee.com/BookService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>